@import 'static/css/styles';

.main-navigation {
	@include animation-defaults();
	@include border-r();
	@include position-tl();
	background: #fff;
	box-shadow: 0 0 10px #ddd;
	height: 100vh;
	left: -100vw;
	max-width: 33vw;
	width: 33vw;
	
	@include breakpoint(tab-l) {
		@include width-full();
		border: 0;
		box-shadow: none;
		display: flex;
		height: auto;
		justify-content: flex-end;
		left: 0;
		max-width: 100%;
	    position: static;
		top: auto;
	}
	
}

.main-navigation--is-open {
	animation-name: slide-in-from-left;
}

.main-navigation--is-closed {
	animation-name: slide-out-to-left;
}

.main-navigation__list {
	list-style: none;
}

.main-navigation__item {
	
	@include breakpoint(tab-l) {
	    display: inline;
	}
	
}

.main-navigation__link {
	@include border-b();
	@include padding-lg();
	@include semi-strong();
	@include uppercase();
	color: palette(primary, bodyText);
	display: block;
	text-decoration: none;
	
	
	
	@include breakpoint(tab-l) {
		border: 0;
	    display: inline-block;
	}
}

.main-navigation__link--current {
	
	@include breakpoint(tab-l) {
	    border-bottom: 2px solid palette(primary, bodyText);
	}
	
}

.main-navigation__toggle {
	@include no-padding();
	@include position-tr($spacing);
	align-items: center;
	background: #fff;
	border: 0;
	display: flex;
	height: 30px;
	width: 30px;
	
	@include breakpoint(tab-l) {
	    display: none;
	}
	
}

.main-navigation__toggle-icon {
	height: auto;
	width: 100%;
}