@import 'static/css/styles';

.btn {
	@include border-radius();
	@include padding-lg();
	@include padding-x-xlg();
	@include semi-strong();
	appearance: none;
	background: #fff;
	border: 0;
	color: palette(primary, white);
	cursor: pointer;
	display: inline-block;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
    width: auto;
}

.btn--primary,
.btn--secondary {
	@include transition();
	color: palette(primary, white);
}

.btn--primary {
	@include gradient('primary, b');
	
	&:hover,
	&:focus {
		@include gradient-invert('primary, b');
	}
	
}

.btn--secondary {
	@include gradient();
	
	&:hover,
	&:focus {
		@include gradient-invert();
	}
	
}

.btn ~ .btn {
	@include margin-l();
}