@import 'static/css/styles';

.hero {
	@include gradient();
	display: flex;
	height: 100px;
	
	@include media(tablet-p) {
	    height: 200px;
	}
	
}

.hero--large {
	height: 200px;

	@include media(tablet-p) {
	    height: 350px;
	}
	
}

.hero__inner {
	@include wrap();
	align-items: center;
	display: flex;
}

.hero__title {
	@include sans-serif();
	color: palette(primary, white);
	margin: 0;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}