@import 'static/css/styles';

.alert {
	@include padding-lg();
}

$spacing: 8px;

$error: #f00;
$errorTint: #F7E6ED;
$info: #015cae;
$infoTint: #ECF0F7;
$success: #01943b;
$successTint: #F0F6E8;
$warning: #eeb320;
$warningTint: #FCF6EB;

.alert--is-error {
	background-color: rgba($error, .5);
	border-color: $error;
}

.alert--is-info {
	background-color: rgba($info, .5);
	border-color: $info;
}

.alert--is-success {
	background-color: rgba($success, .5);
	border-color: $success;
}

.alert--is-warning {
	background-color: rgba($warning, .5);
	border-color: $warning;
}