@import 'static/css/styles';

$spacing: 8px;

$error: #f00;
$errorTint: #F7E6ED;
$info: #015cae;
$infoTint: #ECF0F7;
$success: #01943b;
$successTint: #F0F6E8;
$warning: #eeb320;
$warningTint: #FCF6EB;

.alert {
	@include padding-lg();
	align-items: center;
	display: flex;
}

.alert--has-icon {
	
}

.alert__icon {
	@include margin-r();
	height: auto;
	width: 25px;
}

.alert p:last-of-type {
	margin: 0;
}

.alert--is-error {
	background-color: rgba($error, .4);
	border-color: $error;
}

.alert--is-info {
	background-color: rgba($info, .4);
	border-color: $info;
}

.alert--is-success {
	background-color: rgba($success, .4);
	border-color: $success;
}

.alert--is-warning {
	background-color: rgba($warning, .4);
	border-color: $warning;
}