@import 'static/css/styles';

.select-group__wrap {
	
	@include media(tablet-l) {
	    @include width-third();
	}
	
}

.select-group {
	display: flex;
	justify-content: space-between;
	
	div {
		@include margin-x();
		flex: 1 1 0;
		
		&:first-of-type {
			margin-left: 0;
		}
		
		&:last-of-type {
			margin-right: 0;
		}
		
	}
	
}