@import 'static/css/styles';

.blockquote {
	@include margin-b-xlg();
	@include padding-lg();
	@include width-full();
	border-left: 5px solid #dedede;
	line-height: $base-line-height;
	
	@include breakpoint(tab-l) {
	    width: 50%;
	}
	
}

.blockquote--has-author {
	position: relative;
}

.blockquote__author {
	@include position-br(0, $spacing-lg);
	@include small();
	@include uppercase();
	letter-spacing: rem(1px);
	
	&::before {
		@include margin-r();
		background: #ddd;
		content: '';
		display: inline-block;
		height: 1px;
		vertical-align: middle;
		width: $base-font-size;
	}
}