@import 'static/css/styles';

.site-header {
	@include padding();
	@include wrap();
	position: relative;
	
	@include media(tablet-p) {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
		
}