$border-colour--default: #ddd;
$border--default: 1px solid $border-colour--default;

@mixin border-top() {
	border-top: $border--default
}

@mixin border-right() {
	border-right: $border--default
}

@mixin border-bottom() {
	border-bottom: $border--default
}

@mixin border-left() {
	border-left: $border--default
}