@import 'static/css/styles';

input {
	@include border();
	@include box-shadow($spread: 0);
	@include margin-b-lg();
	@include padding();
	@include transition();
	@include width-full();
}

input:focus {
	@include box-shadow();
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}